[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:camin-mccluskey/lazyvim-config.git
[submodule ".config/nvim-kickstart"]
	path = .config/nvim-kickstart
	url = git@github.com:camin-mccluskey/nvim-kickstart.git
